.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
}
.service-header{
    margin-top: 20px;
    color: greenyellow;
}

@media (max-width: 576px) {
    .services{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}